@import '/src/styles/variables';
@import '/src/styles/mixins';
@import '/src/styles/themes';

.button {
  width: 130px;
  height: 42px;
  border: 1px solid {
    radius: 5px;
  };
  background: $c-button-background;
  @include typography(400, 18px, 15px, $c-button-text);
  @include useTheme('background', 'button-background');
  @include useTheme('color', 'button-color');
  @include useTheme('border-color', 'button-border');

  letter-spacing: 0.04em;
}
