@import '/src/styles/variables';
@import '/src/styles/mixins';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 42px;
  letter-spacing: 0.04em;
  color: $light;
  transition: 0.2s;
  border: 1px solid {
    radius: 5px;
    color: $light;
  }

  &:hover {
    color: $dark;
    background: $light;
  }

  &__link {
    display: block;
    width: 22px;
    height: 22px;
    background: url('../../../images/login.svg') no-repeat center;
  }
}
