@import '/src/styles/extends';

.login {
  @extend %form-wrapper;

  &__restore {
    text-align: end;
    display: inline-block;
    @include typography(500, 16px, 20px);
    @extend %text-with-opacity;
  }

  &__button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    @include useTheme('background-color', 'submit-background');
    @include typography(600, 18px, 140%);
    color: $light;

    @include media(mobile) {
      margin: 4px 0;
      padding: 15px 0;
      @include typography(400, 14px, 17px);
    }
  }

  &__paragraph {
    display: flex;
    gap: 16px;

    @include typography(400, 18px, 140%);

    @include media(mobile) {
      justify-content: space-between;
      @include typography(400, 12px, 14px);
    }
  }

  &__link {
    @extend %form-link;
  }

  &__text {
    @extend %text-with-opacity;
  }
}
