@import '/src/styles/mixins';
@import '/src/styles/variables';

.perPage {
  display: flex;
  gap: 5px;

  &__select {
    color: inherit;
    border: none;
    outline: none;
    background: none;
  }
}
