@import "/src/styles/extends";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 15px;

  @extend %section-border;
}

.header-page {
  margin-bottom: 105px;
}