.pagination {
  display: flex;
  gap: 14px;
  align-self: flex-end;
  font-family: Roboto;
  font-size: 12px;

  &__item {
    padding: 0;
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    &--t--active {
      opacity: 1;
    }
  }

  &__arrows {
    display: flex;
    gap: 4px;
  }

  &__arrow {
    padding: 0;
  }
}
