@import "/src/styles/variables";
@import '/src/styles/mixins';
@import 'src/styles/extends';

.input {
  width: 100%;
  padding: 25px 50px 25px 25px;
  outline: none;
  border: 1px solid {
    radius: 10px;
  }
  @include useTheme('border-color', 'input-border');

  @include media(mobile) {
    padding: 15px {
      right: 30px;
    }
  }

  &--error {
    border-color: #ff3b30 !important;
  }

  &:focus {
    border-color: $link;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    color: #ff3b30;
  }

  &__img {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: 63px;

    @include media(mobile) {
      right: 15px;
      top: 56px;
      width: 15px;
      height: 15px;
    }
  }

  &__label {
    display: block;

    @extend %form-typography;
  }

  &__check {
    display: flex;
  }

  &__checkbox {
    display: block;
    width: 21px;
    height: 21px;
    position: relative;
    outline: none;
    margin-right: 16px;

    &:before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $white;
      border: 1px solid #d9dff8 {
        radius: 3px;
      }
      cursor: pointer;
    }

    &:checked:before {
      background: {
        image: url('../../../../images/checked.svg');
        repeat: no-repeat;
        position: center;
      }
      @include useTheme('background-color', 'submit-background');
    }

  }

  &__link {
    font-weight: 600;
    color: $link;
  }

  &__policy {
    display: block;
    max-width: 370px;
    @extend %text-with-opacity;
  }
}



