@import '/src/styles/variables';
@import '/src/styles/variables';

.custom-button {
  cursor: pointer;
}

button {
  @extend .custom-button;

  background: none;
  outline: none;
  border: none;
  padding: 0;
}

a {
  color: inherit;
}

.wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 80px 0 60px 0;
  }
}

#root {
  font-family: Montserrat, sans-serif;
}

main {
  @include typography(400, 14px, 18px, inherit);
  padding: 50px 0 110px;
  flex-grow: 1;

  @include media(desktop) {
    padding: 50px 30px 110px;
  }
}

footer {
  flex-shrink: 0;
}

.theme-light {
  background: {
    image: url('../images/background45.png');
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $background-light;
  }
}

.theme-dark {
  background: {
    image: url('../images/background3.png'), $background-dark;
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
