@import '/src/styles/variables';
@import '/src/styles/variables';

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  color: inherit;
}

.wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 110px;
  @include typography(400, 14px, 18px, inherit);

  @include media(desktop) {
    padding: 50px 30px 110px;
  }

  &__block-title {
    margin: 80px 0 60px 0;
  }
}

#root {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.theme-light {
  background: {
    image: url('../images/background45.png');
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $background-light;
  }
}

.theme-dark {
  background: {
    image: url('../images/background3.png'), $background-dark;
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
