@import 'variables';
@import 'mixins';

%table-substitute {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;

  font-size: 48px;
  font-weight: 700;
}

%form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
