@import 'variables';
@import 'mixins';

%table-substitute {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

%form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%form-typography {
  @include typography(600, 18px, 142%);
}

%text-with-opacity {
  color: $dark;
  opacity: 0.6;
}
