@font-face {
  font: {
    family: Roboto;
    weight: 400;
  }
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font: {
    family: Roboto;
    weight: 900;
  }
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font: {
    family: Fira Code;
    weight: 400;
  }
  src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
  font: {
    family: Fira Code;
    weight: 700;
  }
  src: url(../fonts/FiraCode-Bold.ttf);
}
