$dark: #2d3b59;
$light-section: #274673;
$dark-section: #1e1c37;
$light: #f0f2f4;
$white: #ffffff;
$link: #536dfb;
$background-light: #ecf0f9;
$background-dark: linear-gradient(145deg, #171531ff, #171531ed);

$themes: (
  light: (
    button-background: $white,
    button-border: transparent,
    button-color: $light-section,
    header-footer: $light-section,
    title: $dark,
    table-headers: $link,
    table-text: $dark,
    table-fill: $white,
    table-border: #d9dff8,
    row-border: #d9dff8a6,
    row-hover: #ecf0f9bf,
    links-border: #d9dff8,
    aside-text: $dark,
    aside-fill: $white,
    icon-fill: $dark,
  ),
  dark: (
    button-background: $dark-section,
    button-border: $light,
    button-color: $light,
    header-footer: #1e1c37,
    title: $light,
    table-headers: $white,
    table-text: $light,
    table-fill: #25233d,
    table-border: $dark,
    row-border: #274673a6,
    row-hover: #2e2b4d,
    links-border: $light-section,
    aside-text: $light,
    aside-fill: #25233d,
    icon-fill: $light,
  ),
);
