.wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px 110px;
  @include typography(400, 14px, 18px, inherit);

  @media (min-width: 1380px) {
    padding: 50px 0 110px;
  }
}

#root {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.theme-light {
  background: {
    image: url('../images/background45.png');
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $background-light;
  }
}

.theme-dark {
  background: {
    image: url('../images/background3.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  background-image: $background-dark;
}
