.wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  @include typography(400, 14px, 18px, inherit);

  @media (min-width: 1200px) {
    padding: 50px 0 110px;
  }
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Montserrat, sans-serif;
}

.background {
  background: {
    image: url('../images/background.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.theme-light {
  background-color: $background-light;
}

.theme-dark {
  background-image: $background-dark;
}
