@import '/src/styles/mixins';
@import '/src/styles/extends';

.block-info {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 535px);
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  row-gap: 8px;
  column-gap: 165px;
  padding: 50px 25px;
  border-radius: 25px;
  border: 5px solid;
  min-height: 400px;

  @include media(desktop) {
    grid-template-columns: minmax(100px, 535px);
    grid-template-rows: repeat(12, auto);
  }

  @include typography(400, 16px, 20px);
  @include useTheme('border-color', 'table-border');
  @include useTheme('color', 'table-text');
  @include useTheme('background-color', 'table-fill');

  &__item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 5px;

    @include media(tablet) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__header {
    max-width: 180px;
    width: 100%;
  }

  &__value {
    @include typography(600, 18px, 26px);
    word-break: break-all;
  }

  &__copy {
    width: 16px;
    height: 16px;
    cursor: pointer;

    background: url('../../../images/copy.png') no-repeat;
  }
}
