@import '/src/styles/variables';
@import '/src/styles/mixins';

.navigation {
  width: 100%;
  max-width: 480px;

  @include media(tablet) {
    max-width: 0;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media(tablet) {
      display: none;

      @include useTheme('background-color', 'header-footer');
      @include useTheme('border-color', 'table-border');
    }
  }

  &__dropdown {
    position: relative;

    &:after {
      position: absolute;
      top: calc(50% - 4px);
      right: -20px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 9px solid $light;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: none;
    }
  }

  &__burger {
    position: relative;
    width: 22px;
    height: 3px;
    background-color: $white;
    display: none;

    @include media(tablet) {
      display: block;
    }

    &:before {
      position: absolute;
      content: '';
      top: -6px;
      display: block;
      width: 22px;
      height: 3px;
      background-color: $light;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -6px;
      display: block;
      width: 22px;
      height: 3px;
      background-color: $light;
    }
  }
}

//asideNAV

.aside-nav {
  @include typography(400, 14px, 17px);
  padding: 40px 30px;

  &__icon {
    @include useTheme('fill', 'icon-fill');
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__anchor--with-dropdown {
    position: relative;

    &:after {
      position: absolute;
      top: calc(50% - 4px);
      right: -20px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 9px solid;
      @include useTheme('border-top-color', 'icon-fill');
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: none;
    }
  }
}
