@import '/src/styles/variables';
@import '/src/styles/mixins';

$border-style: 6px solid transparent;
$burger-item-margin: -6px;

%dropdown {
  border: {
    left: $border-style;
    right: $border-style;
    bottom: none;
  }

  position: absolute;
  top: calc(50% - 4px);
  right: -20px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid;
}

%burger-items {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  background-color: $light;
}

@mixin burger-create($position, $value: $burger-item-margin) {
  @if $position == 'top' {
    top: $value;
  } @else {
    bottom: $value;
  }
}

.navigation {
  width: 100%;
  max-width: 480px;

  @include media(tablet) {
    max-width: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media(tablet) {
      display: none;

      @include useTheme('background-color', 'header-footer');
      @include useTheme('border-color', 'table-border');
    }
  }

  &__dropdown {
    position: relative;

    &:after {
      @extend %dropdown;
    }
  }

  &__burger {
    position: relative;
    width: 22px;
    height: 3px;
    background-color: $white;
    display: none;

    @include media(tablet) {
      display: block;
    }

    &:before {
      @include burger-create('top');
      @extend %burger-items;
    }

    &:after {
      @include burger-create('bottom');
      @extend %burger-items;
    }
  }
}

//asideNAV

.aside-nav {
  @include typography(400, 14px, 17px);
  padding: 40px 30px;

  &__icon {
    @include useTheme('fill', 'icon-fill');
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__anchor--with-dropdown {
    position: relative;

    &:after {
      @include useTheme('border-top-color', 'icon-fill');
      @extend %dropdown;
    }
  }
}
