@import '/src/styles/variables';
@import '/src/styles/mixins';

.navigation {
  width: 100%;
  max-width: 480px;

  @include media(tablet) {
    max-width: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media(tablet) {
      display: none;

      @include useTheme('background-color', 'header-footer');
      @include useTheme('border-color', 'table-border');
    }
  }

  &__button {
    color: inherit;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

//asideNAV

.aside-nav {
  @include typography(400, 14px, 17px);
  padding: 40px 30px;

  &__icon {
    @include useTheme('fill', 'icon-fill');
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
}
