@import '/src/styles/variables';
@import '/src/styles/mixins';

.navigation {
  display: flex;
  justify-content: flex-end;

  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__select {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__icon {
    display: flex;
    width: 40px;
    height: 40px;
  }
}

//asideNAV

.aside-nav {
  @include typography(400, 14px, 17px);
  padding: 40px 30px;

  &__icon {
    @include useTheme('fill', 'icon-fill');
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
}
