.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: load 1.5s infinite ease-in-out;
}
.loader {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -35px;
  animation-delay: -0.32s;
}
.loader:after {
  left: 35px;
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
