@import '/src/styles/variables';

$size: 80px;
$position: calc(50% - 40px);

.loader {
  position: absolute;
  width: $size;
  height: $size;
  top: $position;
  left: $position;
  transform: translate(-50%, -50%);
  border: {
    radius: 50%;
    top: 10px solid $light;
    right: 10px solid $light;
    bottom: 10px solid $link;
    left: 10px solid $link;
  }
  animation: loader 1s infinite linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
