@import '/src/styles/variables';
@import '/src/styles/mixins';
@import 'src/styles/extends';

.input {
  position: relative;

  &__field {
    width: 100%;
    padding: 25px 50px 25px 25px;
    outline: none;
    border: 1px solid {
      radius: 10px;
    }
    @include useTheme('border-color', 'input-border');

    @include media(mobile) {
      padding: 15px {
        right: 30px;
      }
    }

    &--error {
      border-color: #ff3b30 !important;
    }

    &:focus {
      border-color: $link;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

    @include media(mobile) {
      width: 15px;
      height: 15px;
      right: 15px;
    }
  }
}
