@import '/src/styles/variables';
@import '/src/styles/mixins';

$percent-line-height: 142%;

%form-typography {
  @include typography(600, 18px, $percent-line-height);
}

%text-with-opacity {
  color: $dark;
  opacity: 0.6;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  max-width: 700px;
  color: $dark;
  background-color: $white;
  padding: 48px;
  border: 5px solid {
    radius: 30px;
  }

  @include useTheme('border-color', 'form-border');

  @include typography(400, 14px, 17px);

  @include media(mobile) {
    @include typography(400, 11px, 13px);
    padding: 25px 15px;
    gap: 20px;
    border: 3px solid {
      radius: 20px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__check {
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 25px 50px 25px 25px;
    outline: none;
    border: 1px solid {
      radius: 10px;
    }
    @include useTheme('border-color', 'input-border');

    @include media(mobile) {
      padding: 15px {
        right: 30px;
      }
    }
  }

  &__img {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: 63px;

    @include media(mobile) {
      right: 15px;
      top: 56px;
      width: 15px;
      height: 15px;
    }
  }

  &__label {
    display: block;

    @extend %form-typography;
  }

  &__error {
    color: #ff3b30;
  }

  &__restore {
    @include typography(500, 16px, 20px);
    @extend %text-with-opacity;
  }

  &__error-restore {
    display: flex;
    justify-content: space-between;
  }

  &__advice {
    @extend %text-with-opacity;
    max-width: 510px;
  }

  &__button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    @include useTheme('background-color', 'submit-background');
    @include typography(600, 18px, $percent-line-height);
    color: $light;

    @include media(mobile) {
      margin: 4px 0;
      padding: 15px 0;
      @include typography(400, 14px, 17px);
    }
  }

  &__paragraph {
    display: flex;
    gap: 16px;

    @include typography(400, 18px, $percent-line-height);

    @include media(mobile) {
      justify-content: space-between;
      @include typography(400, 12px, 14px);
    }
  }

  &__link {
    font-weight: 600;
    color: $link;
  }

  &__checkbox {
    display: block;
    width: 21px;
    height: 21px;
    position: relative;
    outline: none;
    margin-right: 16px;

    &:before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $white;
      border: 1px solid #d9dff8 {
        radius: 3px;
      }
      cursor: pointer;
    }

    &:checked:before {
      background: {
        image: url('../../../images/checked.svg');
        repeat: no-repeat;
        position: center;
      }
      @include useTheme('background-color', 'submit-background');
    }
  }

  &__policy {
    display: block;
    max-width: 370px;
    @extend %text-with-opacity;
  }
}
