@import '/src/styles/variables';
@import '/src/styles/mixins';

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(tablet) {
    flex-direction: column-reverse;
  }

  &__text {
    display: flex;
    margin-left: calc(50% - (209px / 2));

    @include media(tablet) {
      margin-left: 0;
    }
  }

  &__logo {
    @include media(tablet) {
      align-self: flex-end;
      margin-bottom: 20px;
    }

    @include media(mobile) {
      align-self: center;
      margin-bottom: 30px;
    }
  }
}
