@import '/src/styles/variables';
@import '/src/styles/mixins';

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: flex;
    margin-left: calc(50% - (209px / 2));
  }
}
