@import '/src/styles/variables';
@import '/src/styles/extends';
@import '/src/styles/mixins';

.error-message {
  @extend %table-substitute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  border: 5px solid;
  @include useTheme('border-color', 'table-border');
  @include useTheme('color', 'title');

  @include typography(500, 76px, 80px);

  @include media(tablet) {
    @include typography(500, 42px, 50px);
  }

  @include media(mobile) {
    @include typography(500, 26px, 30px);
  }

  &__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    @include useTheme('fill', 'title');

    @include media(tablet) {
      width: 40px;
      height: 40px;
    }

    @include media(mobile) {
      width: 30px;
      height: 30px;
    }
  }
}
