@import '/src/styles/mixins';
@import '/src/styles/themes';

.breadcrumbs {
  @include typography(400, 18px, 22px, inherit);
  @include useTheme('color', 'title');
  display: flex;
  gap: 14px;

  :last-child {
    font-weight: 600;
  }
}
