@import '/src/styles/mixins';

.breadcrumbs {
  @include typography(400, 18px, 22px);
  @include useTheme('color', 'title');
  display: flex;
  gap: 14px;

  :last-child {
    font-weight: 600;
  }

  :first-letter {
    text-transform: uppercase;
  }
}
