@import '/src/styles/mixins';

.block-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  @include useTheme('color', 'title');
  @include typography(600, 32px, 39px);

  @include media(mobile) {
    gap: 16px;
    @include typography(600, 24px, 29px);
  }

  &__item {
    width: 32px;
    text-align: center;

    &--inactive {
      opacity: 0.5;
    }
  }
}
