@import '/src/styles/extends';

.table {
  width: 100%;
  border-collapse: collapse;

  &__loader {
    @extend %table-substitute
  }
}

th,
td {
  border: 1px solid #ddd;
  padding: 7px;
  text-align: left;
}
