@import '/src/styles/variables';
@import '/src/styles/extends';
@import '/src/styles/mixins';
@import '/src/styles/themes';

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  text-align: left;

  @media (min-width: 1200px) {
    display: table;
  }

  &__loader {
    @extend %table-substitute;
  }

  a {
    color: $link;
  }

  th,
  td {
    min-width: 130px;
  }

  td {
    padding: 20px 10px;
  }

  th {
    padding: 5px 0px 25px 10px;
  }

  th button {
    @include useTheme('color', 'table-headers');
  }

  tbody tr {
    border-bottom: 1px solid;
    text-align: left;
    @include useTheme('border-color', 'row-border');

    &:hover {
      @include useTheme('background-color', 'row-hover');
    }
  }
}
