@import '/src/styles/mixins';

.blocks {
  position: relative;
  padding: 25px;
  min-height: 800px;
  border-radius: 25px;
  border: 5px solid;
  @include useTheme('border-color', 'table-border');
  @include useTheme('color', 'table-text');
  @include useTheme('background-color', 'table-fill');

  @include media(desktop) {
    padding: 15px;
  }

  &__navigation {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    padding: 30px 0 5px;
    @include useTheme('color', 'table-headers');

    @include media(desktop) {
      justify-content: space-between;
      gap: 0px;
    }
  }
}
