.pagination {
  display: flex;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;

  &__item {
    background: none;
    outline: none;
    border: none;
    font-family: Roboto;
    flex: 1;
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    &--t--active {
      opacity: 1;
    }
  }
}
